@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
}

.search-icon-btn {
  @apply size-10 rounded-md hover:bg-primary;
  transition: background-color 0.5s ease;
  background-color: #0d6aa7;
}

.search-icon-btn > svg {
  fill: snow !important;
}

.search-input {
  @apply w-full focus:outline-none border-none focus:ring-0 placeholder:tracking-wide;
}

.search-input-box {
  @apply flex items-center bg-white rounded-xl px-3 py-2;
}

.micro-info-icon > svg {
  fill: snow !important;
  @apply size-6;
}

.grid-card {
  @apply rounded-xl text-white p-5 shadow-2xl font-semibold;
}

.card-header {
  @apply font-semibold lg:text-2xl text-lg;
}
